<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h3>
    Trying date functionality,,,,,,f
  </h3>
  <label>From Date</label>
  <input [(ngModel)]='fromDate' placeholder='dd/mm/yyyy' type='date'/>
  <label style='margin : 10px '>To Date</label>
  <input [(ngModel)]='toDate' placeholder='dd/mm/yyyy' type='date'/>
  <br/><br/>
  <button (click)="dispData()">Submit</button>
</div>
<div>
  <table>
    <tr>
      <th>Date</th>
      <th>Transaction Type</th>
      <th>Amount</th>
    </tr>
    <tr *ngFor='let info of filterData'>
      <td>{{info.date}}</td>
      <td>{{info.type}}</td>
      <td>{{info.amount}}</td>
    </tr>
    
  </table>
</div> -->

<div>
  <app-products></app-products>
</div>
